.container {
    background: #12141b;
}
.menu {
  margin: auto;
  width: 10%;
  padding-bottom: 20px;
}

.menu_text {
  margin-right:20px; 
  font-size:25px;
  color:#ffffff;
  text-shadow:2px 2px #e57f3a;
  text-decoration:none;
  font-family:Arial;
}
