.container {
  background: #12141b;
  height: 70px;
  width:1500px;
}

.menu {
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}

.menu_text {
  font-size:25px;
  color:#ffffff;
  text-shadow:2px 2px #e57f3a;
  text-decoration:none;
  font-family:Arial;
}

.section1 {
  background-image:url("hw1/rodeo-drive.jpg");
  background-size: cover;
  background-position: 50% 85%; 
  background-color: black;
  height:350px;
  width:1500px;
}

.section1_text {
  text-align: center;
  vertical-align:middle;
  line-height: 350px;
  font-size: 32px;
  font-weight: bold;
  text-shadow:2px 2px #ffffff;
  color:#e57f3a;
  font-family:Arial;
}

.section2 {
  background-color: #222529;
  vertical-align:middle;
  height:600px;
  width:1500px;
}

.s2_row {
  vertical-align:middle;
  display:table;
  width:60%;
  margin-left:auto; 
  margin-right:auto;
}

.s2_col0 {
  display:table-cell;
  vertical-align:middle;
  width: 280px;
  height: 600px;
  padding: 10px 10px 10px 10px;
}

.s2_col1 {
  display:table-cell;
  vertical-align:middle;
  width: 280px;
  height: 600px;
  padding: 10px 10px 10px 10px;
}

.s2_col2 {
  display:table-cell;
  vertical-align:middle;
  width: 280px;
  height: 600px;
  padding: 10px 10px 10px 10px;
}

.s2_card {
  vertical-align:middle;
  width:280px;
  height:350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: black;
}

.s2_img_div {
  margin: auto 0;
  text-align: center;
}

.s2_img {
  width:260px;
  height:150px;
}

.s2_title {
  font-family: Arial;
  color: #ffffff;
}

.s2_text {
  front-family: Arial;
  color: #ffffff;
}

.section3 {
  background: #12141b;
  height:600px;
  width:1500px;
  vertical-align:middle;
  text-align:center;
}

.s3_row {
  vertical-align:middle;
  display:table;
  width:65%;
  margin-left:auto; 
  margin-right:auto;
}

.s3_text_div {
  display:table-cell;
  width:450px;
  height:600px;
  vertical-align:middle;
  margin-right:5px;
  text-align: center;
}

.s3_text {
  font-family: Arial;
  font-size:16px;
  color: #ffffff;
  text-align:justify;
}

.s3_img_div {
  display:table-cell;
  vertical-align:middle;
  width:500px;
  height:600px;
  margin: auto 0;
  text-align: center;
}

.s3_img {
  width:450px;
  height:240px;
}

.section4 {
  background: #222529;
  height:800px;
  width:1500px;
  vertical-align:middle;
  text-align:center;
}

.s4_row {
  vertical-align:middle;
  display:table;
  width:80%;
  height:400px;
  margin-left:auto; 
  margin-right:auto;
}

.s4_text0_div {
  display:table-cell;
  width:500px;
  height:250px;
  padding-right:30px;
  vertical-align:bottom;
  margin-left:0px;
}

.s4_img0_div {
  display:table-cell;
  width:400px;
  height:250px;
  padding-bottom:5px;
  vertical-align:bottom;
  margin-left:0px;
}

.s4_text1_div {
  display:table-cell;
  width:450px;
  height:250px;
  padding-left:30px;
  vertical-align:top;
  margin-left:0px;
}

.s4_img1_div {
  display:table-cell;
  width:400px;
  height:250px;
  padding-top:20px;
  vertical-align:top;
  margin-left:0px;
}

.s4_title0 {
  font-family: Arial;
  color: #ffffff;
  text-align:left;
  margin-left:0px;
}

.s4_title1 {
  font-family: Arial;
  color: #ffffff;
  text-align:right;
  margin-left:0px;
}

.s4_text {
  font-family: Arial;
  font-size:14px;
  color: #ffffff;
  text-align:justify;
  line-height:1.6;
  margin-left:0px;
}

.s4_img {
  width:380px;
  height:220px;
  margin-left:0px;
}

.section5 {
  
}

.s5_row {
  
}

.s5_quote {
  
}

.s5_email {
  
}


