.container {
  height: 700px;
  width:1400px;
}

.title {
  color:#bb0a1e;
  margin-top:3%;
  text-align:center;
  font-size:25px;
  font-weight: bold;
}

.info {
  color:#bb0a1e;
  margin-top:3%;
  text-align:center;
  font-size:24px;
}

.form_container {
  margin-top:3%;
  margin-left:0%;
  height:300px;
  width:800px;
}

.form {
  margin-right:0%;
  text-align:right;
  font-size:25px;
  font-weight: bold;
}

.cal_button {
  margin-top:3%;
  text-align:center;
  margin-right:40px;
  color:#FFFFFF;
  background:#00008B;
  font-size:24px;
  border-color:#00008B;
  width: 135px;
  height: 60px;
}

.result {
  margin-top:5%;
  font-size:24px;
  text-align:center;
}
