.container {
      height: 20000px;
      width: 1920 px;
      background: white;
      border-top: solid #82444d;
}

menu {
      background: white;
      position: center;
}

section1 {
  text-align: center;
  color: white;
}

section2 {
}

section3 {
 	text-align: center;
	vertical-align:middle;
}

section4 {
  
}

section5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 400px;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 300px) {
  .column {
    width: 300px;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

table {
      display:block;
      text-decoration:none;
      text-align:center;
}
      
td {
      padding:20px;
      font-size:30px;
      margin:10px;
      front-family: Comfortaa;
}

.section1_text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  front-family:Comfortaa;
}

.left-half {
  background-color: #12141b;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #12141b;
  position: absolute;
  right: 0px;
  width: 50%;
}

.image-box {

  /* Here's the trick */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , var(--image-url) center center;
  background-size: cover;

  /* Here's the same styles we applied to our content-div earlier */
  color: white;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
