.container {
  height: 700px;
  width:700px;
}

.title {
  color:#bb0a1e;
  margin-top:30%;
  margin-right:0%;
  text-align:center;
  font-size:25px;
  font-weight: bold;
}

.info {
  color:#bb0a1e;
  margin-top:5%;
  margin-right:0%;
  text-align:center;
  font-size:24px;
}

.form {
  text-align:right;
  font-size:25px;
  font-weight: bold;
  margin-top:8%;
  margin-right:0%;
}

.cal_button {
  margin-top:7%;
  text-align:center;
}

.result {
  margin-top:5%;
  font-size:24px;
  text-align:center;
}
